# Ignore data sources
data/sources
# Ignore ERGM for now
ERGM
# Ignore GNN for now
GNN
# Ignore Misc
Misc
# Ignore .conda
.conda/
# Ignore .ipynb_checkpoints
.ipynb_checkpoints
# Ignore __pycache__
*/__pycache__
__pycache__/
.DS_Store
*.pyc
*.xlsx
*.zip
*.dylib
